<div class="container">
    <div class="row hero">
        <div class="one-half column" style="margin-top:10%">
            <h1>Welcome to Bookspot</h1>
            <h4>This is a book selling and buying platform</h4>
        </div>
        <div class="one-half column"
    </div>
</div>