<div class="container">
    <div class="row hero">
        <h1>Welcome to Bookspot</h1>
        <h4>This is a book selling and buying platform</h4>
    </div>
        <div class="one-half column"
            <img src="assets/images/narnia.jpg" alt="Narnia Book Cover" style="width:400px;height:550px;">
        </div>

        <div class="one-half column"
            <img src="app/assets/images/towers.jpg" alt="The Two Towers Book Cover" style="width:400px;height:550px;">
        </div>
</div>